<div class="gx-block">
    <div class="gx-card gx-page-block" id="gx_features">
        <div class="gx-card-header header-575">
            <h4 class="gx-card-title">How to Setup CRM Account</h4>
            <div class="header-tools">
                <a href="#" class="m-r-10 gx-full-card">
                    <i class="ri-fullscreen-line" title="Full Screen"></i></a>
            </div>
        </div>
        <div class="gx-card-content">
            <h6>Step 1: Getlead account signup</h6>
             <p>The first step is to sign up on the Getlead CRM webpage. If you already have an account then sign in using a mobile number and password.</p>

             <div class="gx-card-img m-b-30">
                     
                <img src="assets/img/demo-img/img1.png" class="img-fluid" alt="Responsive image">

            </div>


            <h6>Step 2: Add Designation</h6>
                                                <p>The first step is to sign up on the Getlead CRM webpage. If you already have an account then sign in using a mobile number and password.</p>

            <h6>Step 3: Add Departments</h6>
                                                <p>Every organization will have various departments and the details of all of it can be added separately in the CRM.</p>

            <h6>Access Path</h6>
                                                <div> <i>Home>Settings>Account settings>Departments</i></div>

            <h6>How to add departments</h6>		
            <ul class="m-b-15">
                <li>1. The signup process will lead you to the CRM Homepage.</li>
                <li>2. Click on the <b>Settings</b>  icon provided on the page.</li>
                <li>3. Click on the <b>Account settings.</b> This will show you a list of items that fall under this category.</li>
                <li>4. Click on <b>Departments.</b></li>
            </ul>


            <p class="note"><i class="ri-information-line"></i> Now the Theme Code setup is finished here move to the next step below. </p>
             
        </div>
    </div>
</div>